@font-face
{
    font-family: "DM Serif Text";
    src: url("../fonts/DMSerifText-Regular.woff") format("woff");
    src: url("../fonts/DM Serif Text Regular.ttf") format("truetype");
}

@font-face
{
    font-family: "Antic Didone";
    src: url("../fonts/AnticDidone-Regular.woff") format("woff");
    src: url("../fonts/Antic Didone Regular.ttf") format("truetype");
}

