@use "variables" as *;

.h
{
    width: fit-content;
}

.h1
{
    @extend .h;

    color: $main-color;
    font-size: 52px;
}

.h2
{
    @extend .h;

    color: $color-secondary;
    font-size: 30px;
}

.h3
{
    @extend .h;

    color: $color-primary;
    font: {
        size: 23px;
        family: "Antic Didone";
    }
}

