@use "variables" as *;
@import "framework";

.user__avatar
{
    width: 100%;
    height: 100%;
    object-fit: cover;

    @at-root #{&}__container
    {
        @include flex-center;

        width: 172px;
        height: 172px;
        padding: 1px;
        border: 10px solid;
        border-image: url('../images/backgrounds/background.png');
        border-image-slice: 10;
    }
}

.user__info
{
    margin-left: 30px;
    align-self: flex-end;
}

.user__name
{
    font: {
        size: 30px;
        weight: bold;
    };
}

.user__email
{
    font: {
        family: "Antic Didone";
    }
}

.user__edit-button__container
{
    margin-left: auto;
}

.profile__personal-info
{
    margin-bottom: 60px;
    padding-bottom: 20px;
    border-bottom: 2px groove #0007;
}

