@import "font-face";

// Body
$body-bg: #fff;

// Typography
$font-primary: "DM Serif Text";
$font-secondary: "Antic Didone";
$font-s1: 1.5rem;
$font-s2: 1.26rem;
$font-s3: 18px;
$font-s4: 1.0rem;
$font-s5: 0.78rem;


// Colors
$main-color: #8E4739;
$secondary-color: #C9A07A;
$sky-color: #B4DED4;
$color-primary: #DDD2C6;
$color-secondary: #C9A07A;
$color-green: #118822;
$color-red: #CC1111;
$color-anchor: #986a61;
$color-anchor-red: #AA3468;
$color-anchor-green: #239942;
$color-anchor-blue: black;

// Borders
$main-border: 1px solid #B4DED4;
$main-border-radius: 10px;

